* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', serif;
}

.main-header{
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}